---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <TrackRequest xmlns="http://fedex.com/ws/track/v6">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>trck</ServiceId>
            <Major>6</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PackageIdentifier>
            <Value>713062653486</Value>
            <Type>TRACKING_NUMBER_OR_DOORTAG</Type>
          </PackageIdentifier>
          <IncludeDetailedScans>true</IncludeDetailedScans>
        </TrackRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 8f98cf4c-3e5d-4b82-8bab-b01c51da09f7
      X-Csr-Elapsed-Millis:
      - '169'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><TrackReply xmlns="http://fedex.com/ws/track/v6"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notifications><Version><ServiceId>trck</ServiceId><Major>6</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><DuplicateWaybill>true</DuplicateWaybill><MoreData>false</MoreData><TrackDetails><Notification><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notification><TrackingNumber>713062653486</TrackingNumber><TrackingNumberUniqueIdentifier>2457821000~713062653486~FX</TrackingNumberUniqueIdentifier><CarrierCode>FDXE</CarrierCode><PackageSequenceNumber>0</PackageSequenceNumber><PackageCount>0</PackageCount><ShipTimestamp>2018-08-15T00:00:00</ShipTimestamp><DestinationAddress><City>EL
        SEGUNDO</City><StateOrProvinceCode>CA</StateOrProvinceCode><CountryCode>US</CountryCode><Residential>false</Residential></DestinationAddress><ActualDeliveryTimestamp>2017-03-13T12:21:00-07:00</ActualDeliveryTimestamp><SignatureProofOfDeliveryAvailable>false</SignatureProofOfDeliveryAvailable></TrackDetails><TrackDetails><Notification><Severity>SUCCESS</Severity><Source>trck</Source><Code>0</Code><Message>Request
        was successfully processed.</Message><LocalizedMessage>Request was successfully
        processed.</LocalizedMessage></Notification><TrackingNumber>713062653486</TrackingNumber><TrackingNumberUniqueIdentifier>2457835000~713062653486~FX</TrackingNumberUniqueIdentifier><CarrierCode>FDXE</CarrierCode><PackageSequenceNumber>0</PackageSequenceNumber><PackageCount>0</PackageCount><ShipTimestamp>2018-08-15T00:00:00</ShipTimestamp><DestinationAddress><Residential>false</Residential></DestinationAddress><SignatureProofOfDeliveryAvailable>false</SignatureProofOfDeliveryAvailable></TrackDetails></TrackReply>
  recorded_at: Fri, 19 Jul 2019 10:48:54 GMT
[...]
