---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: US-ASCII
      string: |-
        <TrackRequest xmlns="http://fedex.com/ws/track/v5">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>IB6Acmv9zPSrSi9F</Key>
              <Password>tlhmta281iZ7ycildmfgKuAPU</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>510087186</AccountNumber>
            <MeterNumber>100116639</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>trck</ServiceId>
            <Major>5</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PackageIdentifier>
            <Value>123456789012</Value>
            <Type>TRACKING_NUMBER_OR_DOORTAG</Type>
          </PackageIdentifier>
          <IncludeDetailedScans>true</IncludeDetailedScans>
        </TrackRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-wily-servlet:
      - Clear appServerIp=199.81.111.133&agentName=ESB-servicebus-1&servletName=HttpTransportServlet&servletResponseTime=2245&agentHost=qje20204&agentProcess=WebLogic
      x-wily-info:
      - Clear guid=0AF6C6D8C7516F850E3237D17CD856F1
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <v3:TrackReply xmlns:v3="http://fedex.com/ws/track/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><v3:HighestSeverity>SUCCESS</v3:HighestSeverity><v3:Notifications><v3:Severity>SUCCESS</v3:Severity><v3:Source>trck</v3:Source><v3:Code>0</v3:Code><v3:Message>Request was successfully processed.</v3:Message><v3:LocalizedMessage>Request was successfully processed.</v3:LocalizedMessage></v3:Notifications><v3:Version>
            <v3:ServiceId>trck</v3:ServiceId>
            <v3:Major>3</v3:Major>
            <v3:Intermediate>0</v3:Intermediate>
            <v3:Minor>0</v3:Minor>
          </v3:Version><v3:DuplicateWaybill>false</v3:DuplicateWaybill><v3:MoreData>false</v3:MoreData><v3:TrackDetails><v3:TrackingNumber>077973360403984</v3:TrackingNumber><v3:TrackingNumberUniqueIdentifier>120081203121125584000~077973360403984</v3:TrackingNumberUniqueIdentifier><v3:StatusCode>DL</v3:StatusCode><v3:StatusDescription>Delivered</v3:StatusDescription><v3:CarrierCode>FDXG</v3:CarrierCode><v3:OtherIdentifiers><v3:Value>355200</v3:Value><v3:Type>CUSTOMER_REFERENCE</v3:Type></v3:OtherIdentifiers><v3:OtherIdentifiers><v3:Value>355200</v3:Value><v3:Type>INVOICE</v3:Type></v3:OtherIdentifiers><v3:ServiceInfo>Ground-Domestic</v3:ServiceInfo><v3:ServiceType>FEDEX_GROUND</v3:ServiceType><v3:PackageWeight><v3:Units>LB</v3:Units><v3:Value>10.0</v3:Value></v3:PackageWeight><v3:Packaging>Package</v3:Packaging><v3:PackageSequenceNumber>1</v3:PackageSequenceNumber><v3:PackageCount>1</v3:PackageCount><v3:OriginLocationAddress><v3:City>NASHVILLE</v3:City><v3:StateOrProvinceCode>TN</v3:StateOrProvinceCode><v3:CountryCode>US</v3:CountryCode><v3:Residential>false</v3:Residential></v3:OriginLocationAddress><v3:ShipTimestamp>2008-12-03T00:00:00</v3:ShipTimestamp><v3:DestinationAddress><v3:City>Sacramento</v3:City><v3:StateOrProvinceCode>CA</v3:StateOrProvinceCode><v3:CountryCode>US</v3:CountryCode><v3:Residential>false</v3:Residential></v3:DestinationAddress><v3:ActualDeliveryTimestamp>2008-12-08T07:43:37-08:00</v3:ActualDeliveryTimestamp><v3:ActualDeliveryAddress><v3:City>Sacramento</v3:City><v3:StateOrProvinceCode>CA</v3:StateOrProvinceCode><v3:CountryCode>US</v3:CountryCode><v3:Residential>false</v3:Residential></v3:ActualDeliveryAddress><v3:DeliveryLocationType>OTHER</v3:DeliveryLocationType><v3:DeliverySignatureName>KKING</v3:DeliverySignatureName><v3:SignatureProofOfDeliveryAvailable>true</v3:SignatureProofOfDeliveryAvailable><v3:ProofOfDeliveryNotificationsAvailable>false</v3:ProofOfDeliveryNotificationsAvailable><v3:ExceptionNotificationsAvailable>false</v3:ExceptionNotificationsAvailable><v3:Events><v3:Timestamp>2008-12-08T07:43:37-08:00</v3:Timestamp><v3:EventType>DL</v3:EventType><v3:EventDescription>Delivered</v3:EventDescription><v3:Address><v3:City>Sacramento</v3:City><v3:StateOrProvinceCode>CA</v3:StateOrProvinceCode><v3:PostalCode>95817</v3:PostalCode><v3:CountryCode>US</v3:CountryCode><v3:Residential>false</v3:Residential></v3:Address></v3:Events><v3:Events><v3:Timestamp>2008-12-08T05:00:00-08:00</v3:Timestamp><v3:EventType>OD</v3:EventType><v3:EventDescription>On FedEx vehicle for delivery</v3:EventDescription><v3:Address><v3:City>SACRAMENTO</v3:City><v3:StateOrProvinceCode>CA</v3:StateOrProvinceCode><v3:PostalCode>95824</v3:PostalCode><v3:CountryCode>US</v3:CountryCode><v3:Residential>false</v3:Residential></v3:Address[...]
