---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <ServiceAvailabilityRequest xmlns="http://fedex.com/ws/packagemovementinformationservice/v5">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>pmis</ServiceId>
            <Major>5</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <Origin>
            <PostalCode>400012</PostalCode>
            <CountryCode>IN</CountryCode>
          </Origin>
          <Destination>
            <PostalCode>400020</PostalCode>
            <CountryCode>IN</CountryCode>
          </Destination>
          <ShipDate>2014-06-28</ShipDate>
          <CarrierCode>FDXE</CarrierCode>
        </ServiceAvailabilityRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 4d9b73e3-b00e-4751-8382-5017da693fb9
      X-Csr-Elapsed-Millis:
      - '191'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><ServiceAvailabilityReply xmlns="http://fedex.com/ws/packagemovementinformationservice/v5"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>pmis</Source><Code>2002</Code><Message>Your
        Packaging was assumed.</Message><LocalizedMessage>Your Packaging was assumed.</LocalizedMessage></Notifications><Version><ServiceId>pmis</ServiceId><Major>5</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><Options><Service>PRIORITY_OVERNIGHT</Service><DestinationStationId>BOMFT</DestinationStationId><DestinationAirportId>BOM</DestinationAirportId></Options><Options><Service>STANDARD_OVERNIGHT</Service><DestinationStationId>BOMFT</DestinationStationId><DestinationAirportId>BOM</DestinationAirportId></Options><Options><Service>FEDEX_EXPRESS_SAVER</Service><DestinationStationId>BOMFT</DestinationStationId><DestinationAirportId>BOM</DestinationAirportId></Options><Options><Service>FEDEX_1_DAY_FREIGHT</Service><DestinationStationId>BOMFT</DestinationStationId><DestinationAirportId>BOM</DestinationAirportId></Options></ServiceAvailabilityReply>
  recorded_at: Fri, 19 Jul 2019 10:45:34 GMT
recorded_with: VCR 5.0.0
