---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <DeleteShipmentRequest xmlns="http://fedex.com/ws/ship/v22">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>ship</ServiceId>
            <Major>22</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <TrackingId>
            <TrackingIdType>FEDEX</TrackingIdType>
            <TrackingNumber>111111111</TrackingNumber>
          </TrackingId>
          <DeletionControl>DELETE_ALL_PACKAGES</DeletionControl>
        </DeleteShipmentRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - cf101597-664d-48d1-a0b2-03cbe1448f36
      X-Csr-Elapsed-Millis:
      - '79'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><ShipmentReply xmlns="http://fedex.com/ws/ship/v22"><HighestSeverity>ERROR</HighestSeverity><Notifications><Severity>ERROR</Severity><Source>ship</Source><Code>2428</Code><Message>Invalid
        tracking number</Message><LocalizedMessage>Invalid tracking number</LocalizedMessage></Notifications><Version><ServiceId>ship</ServiceId><Major>22</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version></ShipmentReply>
  recorded_at: Fri, 19 Jul 2019 10:45:01 GMT
recorded_with: VCR 5.0.0
