---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <GroundCloseRequest xmlns="http://fedex.com/ws/close/v2">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>clos</ServiceId>
            <Major>2</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <TimeUpToWhichShipmentsAreToBeClosed>2019-07-19T10:45:16.98Z</TimeUpToWhichShipmentsAreToBeClosed>
        </GroundCloseRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - e866bcfc-463e-4f2d-ac3c-64279a4266e7
      X-Csr-Elapsed-Millis:
      - '138'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><GroundCloseReply xmlns="http://fedex.com/ws/close/v2"><HighestSeverity>ERROR</HighestSeverity><Notifications><Severity>ERROR</Severity><Source>clos</Source><Code>9804</Code><Message>No
        Shipments to Close</Message><LocalizedMessage>No Shipments to Close</LocalizedMessage></Notifications><Version><ServiceId>clos</ServiceId><Major>2</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version></GroundCloseReply>
  recorded_at: Fri, 19 Jul 2019 10:45:17 GMT
recorded_with: VCR 5.0.0
