---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <AddressValidationRequest xmlns="http://fedex.com/ws/addressvalidation/v2">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>aval</ServiceId>
            <Major>2</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <RequestTimestamp>2019-07-19T11:57:32+01:00</RequestTimestamp>
          <Options>
            <CheckResidentialStatus>true</CheckResidentialStatus>
          </Options>
          <AddressesToValidate>
            <Address>
              <StreetLines>301 Las Colinas Blvd</StreetLines>
              <City>Irving</City>
              <StateOrProvinceCode>TX</StateOrProvinceCode>
              <PostalCode>75039</PostalCode>
              <CountryCode>USA</CountryCode>
            </Address>
          </AddressesToValidate>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 915fec76-d950-4cf0-ba6f-ae4c9230207b
      X-Csr-Elapsed-Millis:
      - '185'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><AddressValidationReply xmlns="http://fedex.com/ws/addressvalidation/v2"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>wsi</Source></Notifications><TransactionDetail><Localization><LanguageCode/></Localization></TransactionDetail><Version><ServiceId>aval</ServiceId><Major>2</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><ReplyTimestamp>2019-07-19T05:57:33-05:00</ReplyTimestamp><AddressResults><AddressId/><ProposedAddressDetails><Score>0</Score><Changes>NORMALIZED</Changes><Changes>INSUFFICIENT_DATA</Changes><ResidentialStatus>RESIDENTIAL</ResidentialStatus><DeliveryPointValidation>UNCONFIRMED</DeliveryPointValidation><Address><StreetLines>301
        LAS COLINAS BLVD</StreetLines><City>IRVING</City><StateOrProvinceCode>TX</StateOrProvinceCode><PostalCode>75039</PostalCode><CountryCode>US</CountryCode></Address><RemovedNonAddressData/></ProposedAddressDetails></AddressResults></AddressValidationReply>
  recorded_at: Fri, 19 Jul 2019 10:57:33 GMT
recorded_with: VCR 5.0.0
