---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <RateRequest xmlns="http://fedex.com/ws/rate/v22">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>crs</ServiceId>
            <Major>22</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <ReturnTransitAndCommit>true</ReturnTransitAndCommit>
          <RequestedShipment>
            <DropoffType>REGULAR_PICKUP</DropoffType>
            <PackagingType>YOUR_PACKAGING</PackagingType>
            <Shipper>
              <Contact>
                <PersonName>Sender</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555</PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Main Street</StreetLines>
                <City>Harrison</City>
                <StateOrProvinceCode>AR</StateOrProvinceCode>
                <PostalCode>72601</PostalCode>
                <CountryCode>US</CountryCode>
              </Address>
            </Shipper>
            <Recipient>
              <Contact>
                <PersonName>Recipient</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555</PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Main Street</StreetLines>
                <City>Frankin Park</City>
                <StateOrProvinceCode>IL</StateOrProvinceCode>
                <PostalCode>60131</PostalCode>
                <CountryCode>US</CountryCode>
                <Residential>true</Residential>
              </Address>
            </Recipient>
            <ShippingChargesPayment>
              <PaymentType>SENDER</PaymentType>
              <Payor>
                <ResponsibleParty>
                  <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
                  <Contact>
                    <PersonName>Sender</PersonName>
                    <CompanyName>Company</CompanyName>
                    <PhoneNumber>555-555-5555</PhoneNumber>
                  </Contact>
                </ResponsibleParty>
              </Payor>
            </ShippingChargesPayment>
            <RateRequestTypes>NONE</RateRequestTypes>
            <PackageCount>2</PackageCount>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>LB</Units>
                <Value>2</Value>
              </Weight>
              <Dimensions>
                <Length>10</Length>
                <Width>5</Width>
                <Height>4</Height>
                <Units>IN</Units>
              </Dimensions>
            </RequestedPackageLineItems>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>LB</Units>
                <Value>6</Value>
              </Weight>
              <Dimensions>
                <Length>5</Length>
                <Width>5</Width>
                <Height>4</Height>
                <Units>IN</Units>
              </Dimensions>
            </RequestedPackageLineItems>
          </RequestedShipment>
        </RateRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 6de9ef64-71af-4de0-a011-0ca584a1d5e9
      X-Csr-Elapsed-Millis:
      - '1488'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><RateReply xmlns="http://fedex.com/ws/rate/v22"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>crs</Source><Code>0</Code><Message>Request
        was successfully processed. </Message><LocalizedMessage>Request was successfully
        processed. </LocalizedMessage></Notifications><Version><ServiceId>crs</ServiceId><Major>22</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>BDFA
        </DeliveryStation><DeliveryDayOfWeek>MON</DeliveryDayOfWeek><DeliveryTimestamp>2019-07-22T08:00:00</DeliveryTimestamp><CommitDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><DerivedOriginDetail><CountryCode>US</CountryCode><StateOrProvinceCode>AR</StateOrProvinceCode><PostalCode>72601</PostalCode><ServiceArea>PM</ServiceArea><LocationId>FYVA
        </LocationId><LocationNumber>0</LocationNumber></DerivedOriginDetail><DerivedDestinationDetail><CountryCode>US</CountryCode><StateOrProvinceCode>IL</StateOrProvinceCode><PostalCode>60131</PostalCode><ServiceArea>A1</ServiceArea><LocationId>BDFA
        </LocationId><LocationNumber>0</LocationNumber><AirportId>ORD</AirportId></DerivedDestinationDetail><CommitTimestamp>2019-07-22T08:00:00</CommitTimestamp><DayOfWeek>MON</DayOfWeek><DestinationServiceArea>A1</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><DocumentContent>NON_DOCUMENTS</DocumentContent></CommitDetails><DestinationAirportId>ORD</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>PM</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateScale>10</RateScale><RateZone>04</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>ACTUAL</RatedWeightMethod><DimDivisor>0</DimDivisor><FuelSurchargePercent>5.0</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>8.0</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>207.99</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>207.99</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>19.64</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>227.63</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>227.63</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalAncillaryFeesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalAncillaryFeesAndTaxes><TotalDutiesTaxesAndFees><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesTaxesAndFees><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>227.63</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential
        delivery</Description><Amount><Currency>USD</Currency><Amount>8.8</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>10.84</Amount></Amount></Surcharges></ShipmentRateDetail></RatedShipmentDetails></RateReplyDetails><RateReplyDetails><ServiceType>PRIORITY_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>BDFA
        </DeliveryStation><DeliveryDa[...]
