---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <CreatePickupRequest xmlns="http://fedex.com/ws/pickup/v9">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>disp</ServiceId>
            <Major>9</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <OriginDetail>
            <UseAccountAddress>false</UseAccountAddress>
            <PickupLocation>
              <Contact>
                <PersonName>Sender</PersonName>
                <CompanyName>Company</CompanyName>
                <PhoneNumber>555-555-5555 </PhoneNumber>
              </Contact>
              <Address>
                <StreetLines>Main Street</StreetLines>
                <City>Mumbai</City>
                <StateOrProvinceCode>MH</StateOrProvinceCode>
                <PostalCode>400012</PostalCode>
                <CountryCode>IN</CountryCode>
              </Address>
            </PickupLocation>
            <ReadyTimestamp>2019-07-20T14:19:27+01:00</ReadyTimestamp>
            <CompanyCloseTime>19:07:27</CompanyCloseTime>
          </OriginDetail>
          <PackageCount>2</PackageCount>
          <TotalWeight>
            <Units>LB</Units>
            <Value>2</Value>
          </TotalWeight>
          <CarrierCode>FDXE</CarrierCode>
          <Remarks>TEST. DO NOT PICKUP</Remarks>
          <CommodityDescription>Ladies Item as per invoice</CommodityDescription>
          <CountryRelationship>DOMESTIC</CountryRelationship>
        </CreatePickupRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 67efef8f-58f9-44d8-840d-76e357995a01
      X-Csr-Elapsed-Millis:
      - '238'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><CreatePickupReply xmlns="http://fedex.com/ws/pickup/v9"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>disp</Source><Code>0000</Code><Message>Success</Message><LocalizedMessage>Success</LocalizedMessage></Notifications><Version><ServiceId>disp</ServiceId><Major>9</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><PickupConfirmationNumber>4</PickupConfirmationNumber><Location>BOMWL</Location></CreatePickupReply>
  recorded_at: Fri, 19 Jul 2019 13:19:28 GMT
recorded_with: VCR 5.0.0
