---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <PickupAvailabilityRequest xmlns="http://fedex.com/ws/pickup/v9">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>FEDEX_DEVELOPMENT_CREDENTIAL_KEY</Key>
              <Password>FEDEX_DEVELOPMENT_CREDENTIAL_PASSWORD</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>FEDEX_DEVELOPMENT_CREDENTIAL_ACCOUNT_NUMBER</AccountNumber>
            <MeterNumber>FEDEX_DEVELOPMENT_CREDENTIAL_METER</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>disp</ServiceId>
            <Major>9</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PickupAddress>
            <PostalCode>400061</PostalCode>
            <CountryCode>IN</CountryCode>
          </PickupAddress>
          <PickupRequestType>FUTURE_DAY</PickupRequestType>
          <DispatchDate>2019-07-20</DispatchDate>
          <Carriers>FDXE</Carriers>
        </PickupAvailabilityRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - b4632641-802e-422d-a94b-a216511b472c
      X-Csr-Elapsed-Millis:
      - '176'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><PickupAvailabilityReply xmlns="http://fedex.com/ws/pickup/v9"><HighestSeverity>SUCCESS</HighestSeverity><Notifications><Severity>SUCCESS</Severity><Source>disp</Source><Code>0000</Code><Message>Success</Message><LocalizedMessage>Success</LocalizedMessage></Notifications><Version><ServiceId>disp</ServiceId><Major>9</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RequestTimestamp>2019-07-19T16:15:00</RequestTimestamp><Options><Carrier>FDXE</Carrier><ScheduleDay>FUTURE_DAY</ScheduleDay><Available>true</Available><PickupDate>2019-07-20</PickupDate><CutOffTime>20:00:00</CutOffTime><AccessTime>PT1H0M</AccessTime><ResidentialAvailable>false</ResidentialAvailable><CountryRelationship>DOMESTIC</CountryRelationship></Options><Options><Carrier>FDXE</Carrier><ScheduleDay>FUTURE_DAY</ScheduleDay><Available>true</Available><PickupDate>2019-07-20</PickupDate><CutOffTime>20:00:00</CutOffTime><AccessTime>PT1H0M</AccessTime><ResidentialAvailable>false</ResidentialAvailable><CountryRelationship>INTERNATIONAL</CountryRelationship></Options><Options><Carrier>FDXE</Carrier><ScheduleDay>FUTURE_DAY</ScheduleDay><Available>true</Available><PickupDate>2019-07-22</PickupDate><CutOffTime>20:00:[...]
